@model IEnumerable<fifa.Models.GameView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
<div class="main-block">
    <div class="header-menu">
        <a class="item" href="/Main/Django">Home</a>
        <a class="item" href="/Main/Clubs?page=1">Clubs</a>
        <a class="item" href="/Main/OnlineChat">Online Chat</a>
        <a class="item active" href="/Main/Seasons">Seasons</a>
        <a class="item cursor-pointer" onclick="localStorage.removeItem('token'); window.location.href = '/Main/Index'">Logout</a>
    </div>
    <div class="content-menu">
        <div class="clubs-block">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeClub)
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.HomeLogo)"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuestScore)
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.GuestLogo)"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuestClub)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeGoals)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuestGoals)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>